h1,
h2,
p,
li {
  font-family: Tahoma, sans-serif;
}

h1 {
  color: blue;
  font-size: 25px;

  font-style: italic;
  text-align: center;
}

h2 {
  font-size: 35px;
  color: rgb(101, 48, 114);
  text-align: left;
  background-color: rgb(194, 165, 222);
}

p {
  font-size: 20px;

  line-height: 2;
}

li {
  font-size: 18px;
}
